*.txt
genericProcCall/bin/Debug/ResultSetCapture_15.publish.sql
genericProcCall/bin/Debug/ResultSetCapture_14.publish.sql
genericProcCall/bin/Debug/ResultSetCapture.dacpac
genericProcCall/bin/Debug/ResultSetCapture.dacpac
genericProcCall/bin/Debug/ResultSetCapture_16.publish.sql
genericProcCall/obj/Debug/SQLCommandExecute.dll
ResultSetCapture.v12.suo
genericProcCall/ResultSetCapture.jfm
genericProcCall/obj/Debug/SQLCommandExecute.pdb
genericProcCall/obj/Debug/SQLCommandExecute.dll
genericProcCall/bin/Debug/ResultSetCapture_17.publish.sql
genericProcCall/bin/Debug/ResultSetCapture_18.publish.sql
genericProcCall/bin/Debug/ResultSetCapture.dacpac
genericProcCall/bin/Debug/ResultSetCapture.dacpac
genericProcCall/bin/Debug/ResultSetCapture_19.publish.sql
genericProcCall/bin/Debug/ResultSetCapture_20.publish.sql
genericProcCall/bin/Debug/ResultSetCapture_21.publish.sql
genericProcCall/bin/Debug/SQLCommandExecute.dll
genericProcCall/bin/Debug/SQLCommandExecute.pdb
genericProcCall/obj/Debug/ResultSetCapture.sqlproj.FileListAbsolute.txt
genericProcCall/obj/Debug/ResultSetCapture.sqlprojResolveAssemblyReference.cache
genericProcCall/obj/Debug/SQLCommandExecute.dll
genericProcCall/obj/Debug/SQLCOMMANDEXECUTE.generated.sql
ResultSetCapture.v12.suo
genericProcCall/ResultSetCapture.jfm
genericProcCall/obj/Debug/SQLCommandExecute.pdb
genericProcCall/obj/Debug/SQLCOMMANDEXECUTE.generated.sql
genericProcCall/bin/Debug/ResultSetCapture.dacpac
genericProcCall/bin/Debug/ResultSetCapture.dacpac